html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(252, 251, 251);
    max-width: 100%;
    margin: 0px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* background */
.background{
    position: absolute;
    height: 100%;
    width: 99%;
    background-color: white;
    padding: 0px 0px 60px 0px;
    margin: 0px 10px 0px 10px;
}

/* the div on the right containing home, about us, etc. */
.homepartdiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
}

/* the image below */
.bigpicture{
    text-align: center;
    margin: 60px 50px 60px 50px;
}

/* the search */
.form1{
    position: absolute;
    top:400px;
}

.Tshivictext{
    position: absolute;
    top: 350px;
    color: white; 
    display: block;
    margin-left: 350px;
    font-size: 70px; 
    font-weight: 700;
    line-height: 0px;
}    
.search1{
    padding: 20px 150px 20px 60px;
    border-radius: 100px;
    border: none;
    font-size: 15px;
    display: flex;
    margin-left: 450px;
}
.search1::placeholder{
    color: rgb(231, 231, 231);
    font-style: italic;
}
.search1:hover{
    cursor: pointer;
}

/* main write up */
.best{
    line-height: 0.9;
    font-size: 70px;
    text-align: center;
    justify-self: center;
    margin: 140px 0px 0px 0px;
}

/* hover effect on explore all */
.explore:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* footwear boxes after the horinzontal line */
.foot-wearbox{
    margin: 40px 70px 40px 70px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.foot-wearbox1{
    width: 200%;
    display: flex;
    animation: slideLeft 20s linear infinite;
    transition: left 20s ease-in-out;
}
@keyframes slideLeft {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-20%);
    }
}

/* hover effect on buy now */
.buy1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.buy2:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.buy3:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.buy4:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.buy5:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* footer */
.footerdiv1{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    align-items: center;
}

/* last part */
.lastpart{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    align-items: center;
    color: rgb(199, 199, 199);
    margin: 60px 0px 50px 60px;
    font-weight: normal;
    font-size: smaller;
}

/* hover effect on th footer */
.tshivic:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.vendors:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.producers:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.dropshipping:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.advertising:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.logistics:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.partnership:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.blogs:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.about:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.supports:hover{
    cursor: pointer;
    color: rgb(161, 161, 161);
}
.facebook:hover{
    cursor: pointer;
    fill: rgb(0, 17, 255);
}
.twitter:hover{
    cursor: pointer;
    fill: rgb(0, 225, 255);
}
.instagram:hover{
    cursor: pointer;
    fill: rgb(255, 0, 170);
}
.whatsapp:hover{
    cursor: pointer;
    fill: rgb(21, 172, 1);
}
.terms:hover{
    cursor: pointer;
    color: black;
}
.privacy:hover{
    cursor: pointer;
    color: black;
}
.cookies:hover{
    cursor: pointer;
    color: black;
}
.jobs:hover{
    cursor: pointer;
    color: black;
}
.places:hover{
    cursor: pointer;
    color: black;
}
.resources:hover{
    cursor: pointer;
    color: black;
}